.headerContainer{
    height: 5rem;
    background-color: var(--black);
  }
  
  .headerContent{
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menuNav{
    display: flex;
    align-items: center;
      
    a{
      color: var(--white);
      padding: 0.5em 0.5rem;
      display: inline-block;
      position: relative;
      transition: color 0.7s;
      border-radius: 25px;
  
      & + a {
        margin-left: 2rem;
      }
  
      &:hover{
        background-color: var(--white);
        color: var(--black);
      }
  
    }
  
  
    button{
      margin-left: 2rem;
      background: transparent;
      border:0;
      transition: transform 0.8s;
  
      &:hover{
        transform: scale(1.2);
      }
    }
  
  
  }