.input{
    margin-bottom: 1rem;
    height: 40px;
    border:0;
    border-radius: 0.5rem;
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    border: 1px solid var(--gray-100);
  }
  
  .input::placeholder{
    color: rgba(133, 96, 96, 0.8);
  }